[submodule "NeyMo_backOffice"]
	path = NeyMo_backOffice
	url = https://github.com/nekocheik/NeyMo_backOffice

[submodule "NeyMo_frontOffice"]
	path = NeyMo_frontOffice
	url = https://github.com/nekocheik/NeyMo_frontOffice
